[data-page="000_global_fun_view"][data-itemid="view_header"] {
  font-weight: bold;
  font-family: "Roboto";
}
[data-page="000_global_fun_view"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


