[data-cellid="grid_cell_1_0"][data-page="dashboard_dashboard"][data-cellid="grid_cell_1_0"][data-page="dashboard_dashboard"][data-cellid="grid_cell_1_0"][data-page="dashboard_dashboard"] {
  width: 910px;
}
[data-cellid="grid_cell_3_0"][data-page="dashboard_dashboard"][data-cellid="grid_cell_3_0"][data-page="dashboard_dashboard"][data-cellid="grid_cell_3_0"][data-page="dashboard_dashboard"] {
  width: 910px;
}
[data-page="dashboard_dashboard"][data-itemid="q_ctrl_saldo_0000c_chart_chart"] {
  height: 350px;
}
[data-page="dashboard_dashboard"][data-itemid="q_ctrl_saldo_0000f_chart_chart"] {
  height: 350px;
}
[data-page="dashboard_dashboard"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


