[data-page="q_info_inversion_list"][data-itemid="simple_grid_field21"] {
  font-weight: bold;
}
[data-page="q_info_inversion_list"][data-itemid="simple_grid_field7"] {
  font-weight: bold;
}
[data-page="q_info_inversion_list"][data-itemid="simple_grid_field8"] {
  font-weight: bold;
}
[data-page="q_info_inversion_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


