[data-page="q_recursos_gestor_c1_masterlist"][data-itemid="simple_grid_field13"] {
  font-weight: bold;
}
[data-page="q_recursos_gestor_c1_masterlist"][data-itemid="simple_grid_field22"] {
  font-weight: bold;
  font-family: "Roboto";
}
[data-page="q_recursos_gestor_c1_masterlist"][data-itemid="simple_grid_field24"] {
  font-weight: bold;
}
[data-page="q_recursos_gestor_c1_masterlist"][data-itemid="grid_field"] {
  font-weight: bold;
  font-family: "Roboto";
}
[data-page="q_recursos_gestor_c1_masterlist"][data-itemid="grid_field1"] {
  color: #2b1be6;
  font-weight: bold;
  font-family: "Roboto";
}
[data-page="q_recursos_gestor_c1_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


