[data-page="q_recursos_gestor_c2_masterlist"][data-itemid="simple_grid_field13"] {
  font-weight: bold;
}
[data-page="q_recursos_gestor_c2_masterlist"][data-itemid="simple_grid_field22"] {
  font-weight: bold;
}
[data-page="q_recursos_gestor_c2_masterlist"][data-itemid="simple_grid_field24"] {
  font-weight: bold;
}
[data-page="q_recursos_gestor_c2_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


