<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="back_master" data-itemid="back_master" {$item_back_master} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link  btn-xs 
	" {$backtomasterlink_attrs} >
							Regresar a la tabla principal			</a>
</span>
	 
		<h3 class="panel-title" data-itemtype="masterlist_header" data-itemid="masterlist_header" {$item_masterlist_header} data-pageid="{$pageid}" >{$pagetitlelabel 002_producto_m masterlist}</h3>
		</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<div  data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	<div class="r-grid-columns {$rowclass}" {$rowattrs} {$rowstyle}>
	{BEGIN grid_record}
		{BEGIN grid_vrecord}
		<div class="panel panel-default" {$recordattrs}>
									
			{BEGIN grid_recordheader}
			<div class="panel-heading">
						
				<table data-location="grid" class="header-table">
					<tbody>
				 
												
						<tr >
						 
							{BEGIN cellblock_grid_cell_top}
	<th
	
	{$cell_grid_cell_top}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</th>
	{END cellblock_grid_cell_top}
												</tr>
									 
									 
									 
									 
									 
									 
									 
									 
											
					</tbody>
				</table>

					</div>
		{END grid_recordheader}
												
			<div class="panel-body">					
						
				<table data-location="grid" class="bs-fieldsgrid table">
					<tbody>
				 
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label}
	<td
	
	{$cell_grid_cell_label}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$PRODUCTO_class}	"

			data-field="PRODUCTO"
	
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRODUCTO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRODUCTO" data-fieldname="PRODUCTO" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m PRODUCTO }</span>
			</span>
	</span>
{END PRODUCTO_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label}
						 
							{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$PRODUCTO_class}	"

			data-field="PRODUCTO"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRODUCTO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-page="002_producto_m_masterlist" data-record-id="{$recId}" data-field="PRODUCTO" data-fieldname="PRODUCTO" data-default-width >
{$PRODUCTO_value}
</span>
{END PRODUCTO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
						 
							{BEGIN cellblock_grid_cell_label1}
	<td
	
	{$cell_grid_cell_label1}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$REC_class}	"

			data-field="REC"
	
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN REC_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="REC" data-fieldname="REC" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m REC }</span>
			</span>
	</span>
{END REC_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label1}
						 
							{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert		 {$REC_class}	"

			data-field="REC"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN REC_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="REC" data-fieldname="REC" data-default-width >
{$REC_value}
</span>
{END REC_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label2}
	<td
	
	{$cell_grid_cell_label2}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$DESCRIPCION_class}	"

			data-field="DESCRIPCION"
	
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DESCRIPCION_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DESCRIPCION" data-fieldname="DESCRIPCION" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m DESCRIPCION }</span>
			</span>
	</span>
{END DESCRIPCION_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label2}
						 
							{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert		 {$DESCRIPCION_class}	"

			data-field="DESCRIPCION"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DESCRIPCION_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DESCRIPCION" data-fieldname="DESCRIPCION" data-default-width >
{$DESCRIPCION_value}
</span>
{END DESCRIPCION_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label4}
	<td
	
	{$cell_grid_cell_label4}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$Dependencia_class}	"

			data-field="Dependencia"
	
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Dependencia_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dependencia" data-fieldname="Dependencia" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m Dependencia }</span>
			</span>
	</span>
{END Dependencia_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label4}
						 
							{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert		 {$Dependencia_class}	"

			data-field="Dependencia"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Dependencia_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dependencia" data-fieldname="Dependencia" data-default-width >
{$Dependencia_value}
</span>
{END Dependencia_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
						 
							{BEGIN cellblock_grid_cell_label5}
	<td
	
	{$cell_grid_cell_label5}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$UsuarioResp_class}	"

			data-field="UsuarioResp"
	
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UsuarioResp_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UsuarioResp" data-fieldname="UsuarioResp" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m UsuarioResp }</span>
			</span>
	</span>
{END UsuarioResp_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label5}
						 
							{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert		 {$UsuarioResp_class}	"

			data-field="UsuarioResp"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UsuarioResp_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UsuarioResp" data-fieldname="UsuarioResp" data-default-width >
{$UsuarioResp_value}
</span>
{END UsuarioResp_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label6}
	<td
	
	{$cell_grid_cell_label6}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$PROD_PRESUPUESTO_class}	"

			data-field="PROD_PRESUPUESTO"
	
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PROD_PRESUPUESTO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PROD_PRESUPUESTO" data-fieldname="PROD_PRESUPUESTO" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m PROD_PRESUPUESTO }</span>
			</span>
	</span>
{END PROD_PRESUPUESTO_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label6}
						 
							{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert		 {$PROD_PRESUPUESTO_class}	"

			data-field="PROD_PRESUPUESTO"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PROD_PRESUPUESTO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PROD_PRESUPUESTO" data-fieldname="PROD_PRESUPUESTO" data-default-width >
{$PROD_PRESUPUESTO_value}
</span>
{END PROD_PRESUPUESTO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
						 
							{BEGIN cellblock_grid_cell_label7}
	<td
	
	{$cell_grid_cell_label7}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$SALDO_class}	"

			data-field="SALDO"
	
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SALDO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SALDO" data-fieldname="SALDO" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m SALDO }</span>
			</span>
	</span>
{END SALDO_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label7}
						 
							{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert		 {$SALDO_class}	"

			data-field="SALDO"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN SALDO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="SALDO" data-fieldname="SALDO" data-default-width >
{$SALDO_value}
</span>
{END SALDO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label8}
	<td
	
	{$cell_grid_cell_label8}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$UTILIZADO_class}	"

			data-field="UTILIZADO"
	
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UTILIZADO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UTILIZADO" data-fieldname="UTILIZADO" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m UTILIZADO }</span>
			</span>
	</span>
{END UTILIZADO_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label8}
						 
							{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert		 {$UTILIZADO_class}	"

			data-field="UTILIZADO"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UTILIZADO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UTILIZADO" data-fieldname="UTILIZADO" data-default-width >
{$UTILIZADO_value}
</span>
{END UTILIZADO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
						 
							{BEGIN cellblock_grid_cell_label9}
	<td
	
	{$cell_grid_cell_label9}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$RUBRO1_class}	"

			data-field="RUBRO1"
	
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN RUBRO1_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="RUBRO1" data-fieldname="RUBRO1" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m RUBRO1 }</span>
			</span>
	</span>
{END RUBRO1_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label9}
						 
							{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert		 {$RUBRO1_class}	"

			data-field="RUBRO1"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN RUBRO1_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="RUBRO1" data-fieldname="RUBRO1" data-default-width >
{$RUBRO1_value}
</span>
{END RUBRO1_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label3}
	<td
	
	{$cell_grid_cell_label3}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$DESCRIPCION1_class}	"

			data-field="DESCRIPCION1"
	
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DESCRIPCION1_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label2" {$item_grid_field_label2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DESCRIPCION1" data-fieldname="DESCRIPCION1" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m DESCRIPCION1 }</span>
			</span>
	</span>
{END DESCRIPCION1_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label3}
						 
							{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert		 {$DESCRIPCION1_class}	"

			data-field="DESCRIPCION1"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DESCRIPCION1_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DESCRIPCION1" data-fieldname="DESCRIPCION1" data-default-width >
{$DESCRIPCION1_value}
</span>
{END DESCRIPCION1_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
						 
							{BEGIN cellblock_grid_cell_label10}
	<td
	
	{$cell_grid_cell_label10}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$REC1_class}	"

			data-field="REC1"
	
	data-cellId="grid_cell_label10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN REC1_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label3" {$item_grid_field_label3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="REC1" data-fieldname="REC1" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m REC1 }</span>
			</span>
	</span>
{END REC1_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label10}
						 
							{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert		 {$REC1_class}	"

			data-field="REC1"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN REC1_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field3" {$item_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="REC1" data-fieldname="REC1" data-default-width >
{$REC1_value}
</span>
{END REC1_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
												</tr>
									 
												
						<tr class="{$rowclass}">
						 
							{BEGIN cellblock_grid_cell_label11}
	<td
	
	{$cell_grid_cell_label11}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$PRESUPUESTO_class}	"

			data-field="PRESUPUESTO"
	
	data-cellId="grid_cell_label11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRESUPUESTO_fieldheadercolumn}
<span 
	data-itemtype="grid_field_label" data-itemid="grid_field_label4" {$item_grid_field_label4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRESUPUESTO" data-fieldname="PRESUPUESTO" 

	
	
	>
	<span class="text-label">
		<span>{$label 002_producto_m PRESUPUESTO }</span>
			</span>
	</span>
{END PRESUPUESTO_fieldheadercolumn}

	
	</td>
	{END cellblock_grid_cell_label11}
						 
							{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$PRESUPUESTO_class}	"

			data-field="PRESUPUESTO"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN PRESUPUESTO_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field4" {$item_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="PRESUPUESTO" data-fieldname="PRESUPUESTO" data-default-width >
{$PRESUPUESTO_value}
</span>
{END PRESUPUESTO_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
						 
							{BEGIN cellblock_grid_cell_label12}
	<td
	
	{$cell_grid_cell_label12}
	{$recordattrs}
	class="
		r-align-right r-ori-vert			"

	
	data-cellId="grid_cell_label12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_label12}
						 
							{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_cell_field12}
												</tr>
									 
											
					</tbody>
				</table>

				
			</div>				
									
		</div>
		{END grid_vrecord}
	{END grid_record}
	</div>

<div style="clear: both;"></div>
 
	{BEGIN grid_record}
			{END grid_record}


{END grid_row}
</div>			
{END grid_block}
								</div>
</div>
