<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel paa_master_msj add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN paa_id_fk_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_paa_id_fk}  r-vertical-field" 
	data-signal-error-for="paa_id_fk{$id}" {$required_attr_paa_id_fk}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="paa_id_fk" data-fieldname="paa_id_fk" >

	<label class="r-edit-label control-label" for="{$labelfor_paa_id_fk}">
		{BEGIN paa_id_fk_label}{$label paa_master_msj paa_id_fk }{END paa_id_fk_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$paa_id_fk_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="paa_id_fk" {$tooltipAttr paa_master_msj paa_id_fk } >
		<div class="text-muted" >
		{$tooltip paa_master_msj paa_id_fk }		</div>
	</div>
</div>


{END paa_id_fk_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user}  r-vertical-field" 
	data-signal-error-for="user{$id}" {$required_attr_user}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="user" data-fieldname="user" >

	<label class="r-edit-label control-label" for="{$labelfor_user}">
		{BEGIN user_label}{$label paa_master_msj user }{END user_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="user" {$tooltipAttr paa_master_msj user } >
		<div class="text-muted" >
		{$tooltip paa_master_msj user }		</div>
	</div>
</div>


{END user_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN de_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_de}  r-vertical-field" 
	data-signal-error-for="de{$id}" {$required_attr_de}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="de" data-fieldname="de" >

	<label class="r-edit-label control-label" for="{$labelfor_de}">
		{BEGIN de_label}{$label paa_master_msj de }{END de_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$de_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="de" {$tooltipAttr paa_master_msj de } >
		<div class="text-muted" >
		{$tooltip paa_master_msj de }		</div>
	</div>
</div>


{END de_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN para_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_para}  r-vertical-field" 
	data-signal-error-for="para{$id}" {$required_attr_para}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="para" data-fieldname="para" >

	<label class="r-edit-label control-label" for="{$labelfor_para}">
		{BEGIN para_label}{$label paa_master_msj para }{END para_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$para_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="para" {$tooltipAttr paa_master_msj para } >
		<div class="text-muted" >
		{$tooltip paa_master_msj para }		</div>
	</div>
</div>


{END para_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN msj_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_msj}  r-vertical-field" 
	data-signal-error-for="msj{$id}" {$required_attr_msj}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="msj" data-fieldname="msj" >

	<label class="r-edit-label control-label" for="{$labelfor_msj}">
		{BEGIN msj_label}{$label paa_master_msj msj }{END msj_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$msj_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="msj" {$tooltipAttr paa_master_msj msj } >
		<div class="text-muted" >
		{$tooltip paa_master_msj msj }		</div>
	</div>
</div>


{END msj_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
