<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expandir" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{BEGIN menuitems_main}
<ul data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}"	class="r-menu nav menu-treelike" 
	data-menulevel="1"
>

{BEGIN item_children1}
<li class="
	{$item_current}">
<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline data-menu-top >
	{$item_separator}
	<span class="r-menu-link r-menu-expanded "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
		<span class="r-menu-collapsed">{$item_collicon}{$item_firstcap}</span>
	</a>
{BEGIN item_showchildren2}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="2">
	{BEGIN item_children2}
		{BEGIN item_menulink2}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren2}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren2}
	</span>
	</a>
			{BEGIN item_showchildren3}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="3">
	{BEGIN item_children3}
		{BEGIN item_menulink3}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren3}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren3}
	</span>
	</a>
			{BEGIN item_showchildren4}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="4">
	{BEGIN item_children4}
		{BEGIN item_menulink4}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren4}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren4}
	</span>
	</a>
			{BEGIN item_showchildren5}
<ul class="
			nav collapse 
			{$submenu_class}" 
		id="submenu{$item_id}" data-menulevel="5">
	{BEGIN item_children5}
		{BEGIN item_menulink5}
		<li class="
						{$item_current}"
		>
			<a {$item_attrs} title="{$item_tooltip}" data-menu-link data-menu-v data-menu-inline >
	{$item_separator}
	<span class="r-menu-link  "> 
		<span class="r-menu-title">
		{$item_icon} {$item_title}
		</span>
		{BEGIN item_haschildren5}
		{BEGIN item_expand_icon}
		<span class="r-menu-expand-icon fa fa-angle-left"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item_expand_icon}
		{END item_haschildren5}
	</span>
	</a>
					</li>
		{END item_menulink5}
	{END item_children5}
</ul>
{END item_showchildren5}
		</li>
		{END item_menulink4}
	{END item_children4}
</ul>
{END item_showchildren4}
		</li>
		{END item_menulink3}
	{END item_children3}
</ul>
{END item_showchildren3}
		</li>
		{END item_menulink2}
	{END item_children2}
</ul>
{END item_showchildren2}
</li>
{END item_children1}
</ul>
{END menuitems_main}
			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Muestrame el menu" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Encubrir" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		Perfil del usuario		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel scdp_tracking add}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN sys_status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sys_status}  r-vertical-field" 
	data-signal-error-for="sys_status{$id}" {$required_attr_sys_status}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="sys_status" data-fieldname="sys_status" >

	<label class="r-edit-label control-label" for="{$labelfor_sys_status}">
		{BEGIN sys_status_label}{$label scdp_tracking sys_status }{END sys_status_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sys_status_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sys_status" {$tooltipAttr scdp_tracking sys_status } >
		<div class="text-muted" >
		{$tooltip scdp_tracking sys_status }		</div>
	</div>
</div>


{END sys_status_fieldblock}
											
{BEGIN hr_valor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_hr_valor}  r-vertical-field" 
	data-signal-error-for="hr_valor{$id}" {$required_attr_hr_valor}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="hr_valor" data-fieldname="hr_valor" >

	<label class="r-edit-label control-label" for="{$labelfor_hr_valor}">
		{BEGIN hr_valor_label}{$label scdp_tracking hr_valor }{END hr_valor_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$hr_valor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="hr_valor" {$tooltipAttr scdp_tracking hr_valor } >
		<div class="text-muted" >
		{$tooltip scdp_tracking hr_valor }		</div>
	</div>
</div>


{END hr_valor_fieldblock}
											
{BEGIN sol_fecha_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_sol_fecha}  r-vertical-field" 
	data-signal-error-for="sol_fecha{$id}" {$required_attr_sol_fecha}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="sol_fecha" data-fieldname="sol_fecha" >

	<label class="r-edit-label control-label" for="{$labelfor_sol_fecha}">
		{BEGIN sol_fecha_label}{$label scdp_tracking sol_fecha }{END sol_fecha_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$sol_fecha_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="sol_fecha" {$tooltipAttr scdp_tracking sol_fecha } >
		<div class="text-muted" >
		{$tooltip scdp_tracking sol_fecha }		</div>
	</div>
</div>


{END sol_fecha_fieldblock}
											
{BEGIN user_from_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user_from}  r-vertical-field" 
	data-signal-error-for="user_from{$id}" {$required_attr_user_from}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="user_from" data-fieldname="user_from" >

	<label class="r-edit-label control-label" for="{$labelfor_user_from}">
		{BEGIN user_from_label}{$label scdp_tracking user_from }{END user_from_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$user_from_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="user_from" {$tooltipAttr scdp_tracking user_from } >
		<div class="text-muted" >
		{$tooltip scdp_tracking user_from }		</div>
	</div>
</div>


{END user_from_fieldblock}
											
{BEGIN user_to_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user_to}  r-vertical-field" 
	data-signal-error-for="user_to{$id}" {$required_attr_user_to}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="user_to" data-fieldname="user_to" >

	<label class="r-edit-label control-label" for="{$labelfor_user_to}">
		{BEGIN user_to_label}{$label scdp_tracking user_to }{END user_to_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$user_to_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="user_to" {$tooltipAttr scdp_tracking user_to } >
		<div class="text-muted" >
		{$tooltip scdp_tracking user_to }		</div>
	</div>
</div>


{END user_to_fieldblock}
											
{BEGIN not_mail_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_not_mail}  r-vertical-field" 
	data-signal-error-for="not_mail{$id}" {$required_attr_not_mail}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="not_mail" data-fieldname="not_mail" >

	<label class="r-edit-label control-label" for="{$labelfor_not_mail}">
		{BEGIN not_mail_label}{$label scdp_tracking not_mail }{END not_mail_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$not_mail_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="not_mail" {$tooltipAttr scdp_tracking not_mail } >
		<div class="text-muted" >
		{$tooltip scdp_tracking not_mail }		</div>
	</div>
</div>


{END not_mail_fieldblock}
											
{BEGIN not_msg_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_not_msg}  r-vertical-field" 
	data-signal-error-for="not_msg{$id}" {$required_attr_not_msg}
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="not_msg" data-fieldname="not_msg" >

	<label class="r-edit-label control-label" for="{$labelfor_not_msg}">
		{BEGIN not_msg_label}{$label scdp_tracking not_msg }{END not_msg_label}
		<span class="icon-required"></span>
	</label>
	<div class="r-edit-field">
		{$not_msg_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="not_msg" {$tooltipAttr scdp_tracking not_msg } >
		<div class="text-muted" >
		{$tooltip scdp_tracking not_msg }		</div>
	</div>
</div>


{END not_msg_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
